<p id="notice"><%= notice %></p>

<h1>Listing Projectile Types</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projectile_types.each do |projectile_type| %>
      <tr>
        <td><%= link_to 'Show', projectile_type %></td>
        <td><%= link_to 'Edit', edit_projectile_type_path(projectile_type) %></td>
        <td><%= link_to 'Destroy', projectile_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Projectile type', new_projectile_type_path %>
