<p id="notice"><%= notice %></p>

<h1>Listing Skilltomes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @skilltomes.each do |skilltome| %>
      <tr>
        <td><%= link_to 'Show', skilltome %></td>
        <td><%= link_to 'Edit', edit_skilltome_path(skilltome) %></td>
        <td><%= link_to 'Destroy', skilltome, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Skilltome', new_skilltome_path %>
