<p id="notice"><%= notice %></p>

<h1>Listing Potion Subtypes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @potion_subtypes.each do |potion_subtype| %>
      <tr>
        <td><%= link_to 'Show', potion_subtype %></td>
        <td><%= link_to 'Edit', edit_potion_subtype_path(potion_subtype) %></td>
        <td><%= link_to 'Destroy', potion_subtype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Potion subtype', new_potion_subtype_path %>
