<p id="notice"><%= notice %></p>

<h1>Listing Monster Addons</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monster_addons.each do |monster_addon| %>
      <tr>
        <td><%= link_to 'Show', monster_addon %></td>
        <td><%= link_to 'Edit', edit_monster_addon_path(monster_addon) %></td>
        <td><%= link_to 'Destroy', monster_addon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monster addon', new_monster_addon_path %>
