<p id="notice"><%= notice %></p>

<h1>Listing Potion Types</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @potion_types.each do |potion_type| %>
      <tr>
        <td><%= link_to 'Show', potion_type %></td>
        <td><%= link_to 'Edit', edit_potion_type_path(potion_type) %></td>
        <td><%= link_to 'Destroy', potion_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Potion type', new_potion_type_path %>
